# Byte-compiled / packaged files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
*.env

# SQLite database
db.sqlite3

# Django static and media files
staticfiles/
media/

# Logs
*.log
logs/

# VS Code settings
.vscode/

# Docker files
*.pid
*.tar
docker-compose.override.yml

# Python cache
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django migrations (optional)
*/migrations/*.py
*/migrations/*.pyc
